<h3 class="title-eps">EPISÓDIOS</h3>
<div class="episodios">
    
</div>

<script>
    $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/episodios.json", function(data){
        var ep = data.Ep;
        var url_string = $("#url_hidden").val();
        var url_get = url_string.split("=").pop();

        for(linha = 0; linha < ep.length; linha++){
            if(ep[linha].id_temp == url_get){
                $(".episodios").append(`<a id="box_ep" onclick="load_video('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/load_video.html?src_ep==>${ep[linha].src_ep}','${ep[linha].serie}');">
                    <img id="img_ep" src="${ep[linha].img_ep}">
                    <label id="title">${ep[linha].nome_ep}</label>
                    <p id="desc">${ep[linha].descricao_ep}</p>
                </a>`);
            }else{}
        }
    });
</script>
