<div class="home_filmes">
    <script>
        document.title = "NETFAMILY - Filmes";      

        //Verifica a resolução da janela
        var resolucao = $(window).width();
        if(resolucao < 900){
            $(".news-carousel").hide();  
            $(".conteudos").css('margin','55px 0 80px 0');
        }else{         
            $(".info_filme").hide();
            $(".news-carousel").show(); 

            function hide_carousel(){
                $(".news-carousel").hide(); 
                $(".info_filme").show();  
            }
        }

        $(".nav").show();
    </script>
    <div class="col-md-7 float-right">   
        <h3>FILMES</h3>
        
        <div class="line_filmes line"></div>
        <div id="paginas"></div>
    </div>

    <!--PROCURA DE FILMES EM JAVASCRIPT NO GIT HUB-->   
    <script type="text/javascript">
        pagina = 1; 
        
        conteudos(pagina);

        function paginar(pag){
            $(".line_filmes").text("");
            $("#paginas").text("");
            conteudos(pag);          
        }    

        function conteudos(num){
            $.getJSON('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/filmes.json', function(dados){
                var filme = dados.Filmes;//Recuperação dos dados
                var limitItems = 42; //Limite de items
                var numPaginas = Math.ceil(filme.length/limitItems); //define o numero de páginas que retornarão os items
                //ceil é o valor que aproxima um float com o número próximo (maior) para inteiro ex: (2.60 = 3)
                var count = (num * limitItems) - limitItems;
                var delimiter = count + limitItems; // Limite do laço de repetição

                if(num <= numPaginas){
                    for(let linha = count; linha < delimiter; linha++){
                        if(filme[linha] != null)
                        //CARREGAMENTO DOS DADOS LOCAIS
                        $('.line_filmes').append(`<a href="javascript:void(0)" onmouseleave="leaveTrailer();" onclick="load_video('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/load_video.html?src_video==>${filme[linha].src_filme}', '${filme[linha].nome_filme}')" onmouseover="callTrailer('${filme[linha].trailer}'); hide_carousel(); info('${filme[linha].nome_filme}', '${filme[linha].idade_filme}', '${filme[linha].descricao_filme}','${filme[linha].tipo_traducao}', '${filme[linha].ano}', '${filme[linha].capa_filme}', '${filme[linha].genero_filme}');"><div class='box'><div id='box_img'> <img src='${filme[linha].img_filme}'> </div></div></a>`);
                    }
                }    

                //Páginas				
                for(i = 1; i <= numPaginas; i++){
                    //Apresentação das páginas
                    $("#paginas").append(`<a href='javascript:void(0)' id='pagina${i}' onclick=paginar(${i})>`+i+"</a>");
					
					if(i == num){
                        var pag = $("#pagina"+i);
						pag.css('background', 'red');
					}
                } 	
            });
        }    
    </script>
</div>

