<body name="inicio">
    <script>    
        document.title = "NETFAMILY - Inicio";
        
        //Verifica a resolução da tela
        var resolucao = $(window).width();
        if(resolucao < 900){
            $(".news-carousel").css('display', 'block !important'); 
            $(".conteudos").css('margin','275px 0 80px 0');
        }else{
            function hide_carousel_inicio(){
                $(".news-carousel").hide();
                $(".info_filme").show();  
            }

            $(".info_filme").hide();
            $(".news-carousel").show();            
        }
        
        $(".nav").show();
    </script>

    <div class="col-md-7 float-right">     
        <h3>FILMES</h3>
        <div class="line line_filmes">
            <!--PROCURA DE FILMES EM JAVASCRIPT NO GIT HUB-->        
            <script>
                //CARRECAMENTO DOS CONTEÙDOS
                var dataFilme = '';
                $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/filmes.json", function(dados){
                    var filme = dados.Filmes;   
                    for(linha = 0;  20 > linha; linha++){
                        //CARREGAMENTO DOS DADOS LOCAIS
                        $('.line_filmes').append(`<a href="javascript:void(0)" onclick="load_video('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/load_video.html?src_video==>${filme[linha].src_filme}', '${filme[linha].nome_filme}')" onmouseleave="leaveTrailer();" onmouseover="callTrailer('${filme[linha].trailer}'); hide_carousel_inicio(); info('${filme[linha].nome_filme}', '${filme[linha].idade_filme}', '${filme[linha].descricao_filme}','${filme[linha].tipo_traducao}', '${filme[linha].ano}', '${filme[linha].capa_filme}', '${filme[linha].genero_filme}');"><div class='box'><div id='box_img'> <img src='${filme[linha].img_filme}'> </div></div></a>`);
                    }

                    $('.line_filmes').append(`<p class='center-btn'><a class='more-conteudos' onclick='more_filmes(); hover_nav("filmes");' href='javascript:void(0)'>Ver Mais Filmes</a></p>`);
                });

                function more_filmes(){
                    load_page("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/home_filmes.html");
                }
            </script>
        </div>
  
        <h3>SÉRIES</h3>
        <div class="line line_series">
            <script>
                //CARRECAMENTO DOS CONTEÙDOS
                var dataSerie = '';
                $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/series.json", function(dados){
                    var serie = dados.Series;   
                    for(linha = 0;  20 > linha; linha++){
                        //CARREGAMENTO DOS DADOS LOCAIS
                        $('.line_series').append(`<a href="javascript:void(0)" onclick="load_page('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/serie_selected.html?serie=${serie[linha].id_serie}')" onmouseleave="leaveTrailer();" onmouseover="callTrailer('${serie[linha].trailer}'); hide_carousel_inicio(); info('${serie[linha].nome_serie}', '${serie[linha].idade_serie}', '${serie[linha].descricao_serie}','${serie[linha].tipo_traducao}', '${serie[linha].ano_serie}', '${serie[linha].capa_serie}', '${serie[linha].genero_serie}');"><div class='box'><div id='box_img'> <img src='${serie[linha].img_serie}'></div></div></a>`);
                    }
                    $('.line_series').append(`<p class='center-btn'><a class='more-conteudos' onclick='more_series(); hover_nav("series");' href='javascript:void(0)'>Ver Mais Séries</a></p>`);
                });

                function more_series(){
                    load_page("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/home_series.html");
                }
            </script>
        </div>
    </div>
</body>
