<div name="pesquisar" class="homes home_pesquisa">
    <script>    
        document.title = "NETFAMILY - Pesquisar";
        $(".nav").show();
    </script>

    <div class="generos_box">
        <a href="javascript:void(0)" onclick="searchGen('AÇÃO');" name="AÇÃO">Ação</a>
        <a href="javascript:void(0)" onclick="searchGen('AVENTURA');" name="AVENTURA">Aventura</a>
        <a href="javascript:void(0)" onclick="searchGen('DOCUMENTÁRIO');" name="DOCUMENTÁRIO">Documentário</a>
        <a href="javascript:void(0)" onclick="searchGen('COMÉDIA');" name="COMÉDIA">Comédia</a>
        <a href="javascript:void(0)" onclick="searchGen('ANIMAÇÃO');" name="ANIMAÇÃO">Animação</a>
        <a href="javascript:void(0)" onclick="searchGen('CRIME');" name="CRIME">Crime</a>
        <a href="javascript:void(0)" onclick="searchGen('MISTÉRIO');" name="MISTÉRIO">Mistério</a>
        <a href="javascript:void(0)" onclick="searchGen('FICÇÃO');" name="FICÇÃO">Ficção</a>
        <a href="javascript:void(0)" onclick="searchGen('SUSPENSE');" name="SUSPENSE">Suspense e Terror</a>

        <script> //Hover de genero
            $(".generos_box a").click(function(){
                $(`.generos_box a`).css({'background':'none', 'color':'white'});
                var container = $('.line_filmes').attr('name');
                $(`.generos_box a[name=${container}]`).css({'background':'white','color':'black'});
            });
        </script>
    </div>

    <div>     
        <h3></h3>        
        <div class="line line_filmes">
            <!--PROCURA DE FILMES EM JAVASCRIPT NO GIT HUB-->        
            <script>
                //CARRECAMENTO DOS CONTEÙDOS
                var dataFilme = '';
                searchGen("AÇÃO");
                $(`.generos_box a[name='AÇÃO']`).css({'background':'white','color':'black'});
                
                function searchGen(genero){
                    var gen = genero.toUpperCase();
                    $('.line_filmes').text(''); //Limpa a área para receber novos conteúdos
                    $('.line_filmes').attr('name',gen);

                    $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/filmes.json", function(dados){
                        var filme = dados.Filmes;   
                        for(linha = 0;  linha < filme.length; linha++){
                            //CARREGAMENTO DOS DADOS LOCAIS
                            if(filme[linha].genero_filme == gen){
                                $('.line_filmes').append(`<a href="javascript:void(0)" onclick="load_video('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/load_video.html?src_video==>${filme[linha].src_filme}', '${filme[linha].nome_filme}')"><div class='box'><div id='box_img'> <img src='${filme[linha].img_filme}'> </div></div></a>`);
                            }                        
                        }
                    });
                }         

                $(".news-carousel").hide();
                $(".info_filme").hide();   
            </script>
        </div>
    </div>
</div>
