<body class="home_series">
        <div class="col-md-7  float-right">
        <h3>SÉRIES</h3>
        <div class="line line_series">
            <script>
                document.title = "NETFAMILY - Séries";

                //Verifica a resolução da janela
                var resolucao = $(window).width();
                if(resolucao < 900){
                    $(".news-carousel").hide();  
                    $(".conteudos").css('margin','55px 0 80px 0');
                }else{
                    function hide_carousel(){
                        $(".news-carousel").hide(); 
                        $(".info_filme").show();  
                    }            
                }
                
                $(".nav").show();
            </script>

            <!--PROCURA DE FILMES EM JAVASCRIPT NO GIT HUB-->        
            <script>
                //CARRECAMENTO DE NOVOS CONTEÙDOS
                var dataFilme = '';
                //$("")
                $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/series.json", function(dados){
                    var serie = dados.Series;

                    for(linha = 0; linha < serie.length; linha++){
                        //CARREGAMENTO DOS DADOS LOCAIS
                        $('.line_series').append(`<a href="javascript:void(0)" onmouseleave="leaveTrailer();" onclick="load_page('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/serie_selected.html?serie=${serie[linha].id_serie}');" onmouseover="hide_carousel(); info('${serie[linha].nome_serie}', '${serie[linha].idade_serie}', '${serie[linha].descricao_serie}', '${serie[linha].tipo_traducao}', '${serie[linha].ano_serie}', '${serie[linha].capa_serie}', '${serie[linha].genero_serie}', '${serie[linha].trailer}');"><div class='box'><div id='box_img'> <img src='${serie[linha].img_serie}'> </div></div></a>`);
                    }
                });
            </script>

            
        </div>
    </div>
</body>       
