<div class="container serie_selected">
    <div class="row">
        <div class="col-3">
            <h3>TEMPORADAS</h3>
            <div class="append_temp">
                <script>
                    
                    $.getJSON("https://bitbucket.org/bender-jay-jay/netfamily/raw/master/temporadas.json", function(dados){
                        //PEGA DADOS DA URL
                        var url_string = $("#url_hidden").val();
                        var url_get = url_string.split("=").pop();
                        //CARREGAMENTO DAS TEMPORADAS
                        var temp = dados.Temporadas;
                        
                        for(linha = 0; linha < temp.length; linha++){
                            if(temp[linha].id_serie == url_get){
                                $(".append_temp").append(`<a id="box_temp" onclick="load_eps('https://bitbucket.org/bender-jay-jay/netfamily/raw/master/eps_select.html?temp=${temp[linha].id_temp}');" href="javascript::">
                                    <div>
                                        <p id="temp_text">${temp[linha].nome_temp}</p>
                                        <p>${temp[linha].ano}</p>
                                    </div>
                                </a>`);
                            };
                        };
                    });
                </script>
            </div>
        </div>

        <!--EPISODIOS-->
        <div class="col-9 float-right loadEps">
            <!--Carregamento dos episodios-->
            <p><img src="https://github.com/jayjay-johnny/Netfamily/blob/master/img/epsIcon.png?raw=true"></p>
            <h2>Selecione uma temporada.</h2>
            <p>Para visualizar os episódios, é necessario selecionar uma temporada.</p>
        </div>
    </div>
</div>

<script>
    /* -Load/sem refresh dos episodios- */
    function load_eps(arquivo){
        if(arquivo){
            $.ajax({
                type: 'GET',
                data: arquivo,
                url: arquivo,
                success: function(data){
                    $(".loadEps").html(data);
                    $("#url_hidden").val(arquivo);
                }
            }); 
        };
    };

    document.title = "NETFAMILY - Séries";

    $(".news-carousel").hide(); 
    $(".info_filme").hide();  

    //Verifica a resolução da janela
    var resolucao = $(window).width();
    if(resolucao < 900){
        $(".news-carousel").hide();  
        $("body #conteudos").css('margin','5px 0 80px 0');
    }

    $("#filmes").removeClass("under");
    $("#inicio").removeClass("under");
    $("#series").attr("class", "under");
</script>
